---
import { Icon } from 'astro-icon'

export interface Props {
	label: string
	href: string
	icon: string
}

const { href, label, icon } = Astro.props
---

<a href={href}>
	<Icon name={icon} />
	<div class="btn">{label}</div>
</a>

<style>
	@keyframes invert {
		0% {
			background: white;
			color: black;
		}

		100% {
			background: black;
			color: white;
		}
	}

	svg {
		width: 4rem;
	}
	a {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 5px;
		margin: 0 5px;
		font-size: 40px;
		width: 20vw;
		border-bottom: dashed;
		border-radius: 5px;
		@media (max-width: 700px) {
			width: auto;
		}
		&:hover {
			animation: invert 0.6s ease 0s forwards;
		}
	}

	.btn {
		margin-left: 5px;
	}
</style>
