{
	"presets": ["next/babel"],
	"plugins": ["lodash", 
		[
      "babel-plugin-styled-components",
      {
        "ssr": true,
        "minify": true,
        "transpileTemplateLiterals": true,
        "pure": true,
        "displayName": true,
        "preprocess": false
      }
    ]
	]
}
