---
import MenuItem from '../MenuItem/index.astro'
---

<section>
	<MenuItem href="#profile" label="Profile" icon="coffee" />
	<MenuItem href="#work" label="Work" icon="palette" />
	<MenuItem href="#hobby" label="Hobby" icon="gamepad" />
</section>
<style>
	section {
		margin: 10px 0;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}
</style>
