---
import { Icon } from 'astro-icon'

const getIcon = (url: string): string => {
	if (url.search('github') >= 0) {
		return 'mdi:github'
	} else if (url.search('tumblr') >= 0) {
		return 'ri:tumblr-fill'
		// } else if (url.search('annict') >= 0) {
		// 	return 'annict'
	} else {
		return 'ic:round-insert-link'
	}
}

const { href, text } = Astro.props
const iconId = getIcon(href)

export interface Props {
	href: string
	text?: string
}
---

<a href={href} aria-label={text} target="_blank" rel="noopener noreferrer">
	<div>
		<div class="container">
			{text && <div class="label">{text}</div>}
			<div class="icon">
				<Icon name={iconId} inverse />
			</div>
		</div>
	</div>
</a>

<style>
	@keyframes hilight {
		from {
			box-shadow: 1px 1px;
		}

		to {
			box-shadow: 1px 1px #aaa;
			background: #cdcdcd;
		}
	}

	.container {
		background: #fff;
		box-shadow: 1px 1px;
		display: inline-flex;
		margin-top: 5px;
		&:hover {
			animation: hilight 0.5s ease 0s forwards;
		}
	}

	.label {
		padding: 5px;
	}

	.icon {
		padding: 5px;
		background: black;
		width: 1em;
		text-align: center;
	}
	[astro-icon] {
		color: white;
	}
</style>
