---
import LinksItem, { Props as LinksItemProps } from '../LinksItem/index.astro'

const links: LinksItemProps[] = [
	{
		title: 'Twitter',
		href: 'https://twitter.com/anozon',
		icon: 'mdi:twitter',
	},
	{
		title: 'GitHub',
		href: 'https://github.com/elzup',
		icon: 'mdi:github',
	},
	{
		title: 'YouTube',
		href: 'https://www.youtube.com/channel/UCMo7HkIMW9AmbvODRkxwfnw',
		icon: 'mdi:youtube',
	},
	{
		title: 'Blog',
		href: 'https://blog.anozon.me/',
		icon: 'ph:pencil-circle',
	},
]
---

<div class="wrap">
	{links.map((linkProps) => <LinksItem {...linkProps} />)}
</div>

<style>
	.wrap {
		margin: 10px 0;
		display: flex;
		justify-content: center;
	}
	@custom-media --md-n-below {
		:root > div {
			margin: 0;
		}
	}
</style>
