---
import LinkButton from '../LinkButton/index.astro'

import { hobbyImages } from '../../api/data'
---

<div class="wrapper">
	<div>
		{
			hobbyImages.map((hi, i) => (
				<div class="box">
					<img src={hi.src} alt="" />

					<div class="link-box">
						<LinkButton href={hi.href} />
					</div>
				</div>
			))
		}
	</div>
</div>

<style>
	.wrapper {
		display: flex;
		margin-top: 15px;
		min-height: 350px;
	}

	.box {
		position: relative;
		float: left;
		width: 33%;
	}

	img {
		width: 100%;
	}

	.link-box {
		position: absolute;
		bottom: 10px;
		right: 10px;
	}
</style>
