---
import Screen from '../Screen/index.astro'

import { categories } from '../../api/data'
import HobbyCategory from './HobbyCategory.astro'
import HobbyGallery from './HobbyGallery.astro'
---

<Screen id="hobby" title="Hobby" description="趣味">
	<div class="categories">
		{categories.map((category) => <HobbyCategory category={category} />)}
	</div>
	<HobbyGallery />
</Screen>

<style>
	.categories {
		display: flex;
		flex-wrap: wrap;
		gap: 20px;
		justify-content: center;
	}
</style>
