---
import { products } from '../../api/data'
import ProductCard from '../ProductCard/index.astro'
---

<div>
	<div class="gallery">
		{products.map((product) => <ProductCard product={product} />)}
	</div>
</div>

<style>
	:root > div {
		display: flex;
	}
	.gallery {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 8px;
		width: 100%;
		@media (max-width: 500px) {
			grid-template-columns: repeat(2, 1fr);
		}
	}
</style>
