---
import { products } from '../../api/data'
import ProductCard from '../ProductCard/index.astro'
---

<div>
	<div class="gallery">
		{products.map((product) => <ProductCard product={product} />)}
	</div>
</div>

<style>
	:root > div {
		display: flex;
	}
	.gallery {
		display: grid;
		grid-template-columns: repeat(auto-fill, 140px);
		gap: 8px;
		justify-content: center;
	}
</style>
